<div class="container bg-warning">
  <h5 class="text-center">
    TO DO
  </h5>
  <ul class="list-group">
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
  First checkbox
      <button type="button" class="btn btn-dark">-</button>
      <button type="button" class="btn btn-dark">EDIT</button>

    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
  Second checkbox
      <button type="button" class="btn btn-dark">-</button>
      <button type="button" class="btn btn-dark">EDIT</button>
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
  Third checkbox
      <button type="button" class="btn btn-dark">-</button>
      <button type="button" class="btn btn-dark">EDIT</button>

    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
  Fourth checkbox
      <button type="button" class="btn btn-dark">-</button>
      <button type="button" class="btn btn-dark">EDIT</button>

    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
  Fifth checkbox
      <button type="button" class="btn btn-dark">-</button>
      <button type="button" class="btn btn-dark">EDIT</button>

    </li>
  </ul>

</div>